body {
  margin: 0;
  background-color: teal;
  color: white;
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
