body {
  margin: 0;
  font-family: monospace;
}

.light,
.dark {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.light {
  background-color: tomato;
  color: black;
}

.dark {
  background-color: darkslategray;
  color: white;
}
